services:
  cyclemusicpipeline:
    build: .
    image: ghcr.io/cookytime/cyclemusicpipeline:main
    container_name: cyclemusicpipeline
    env_file:
      - ./cyclemusicpipeline.env
    environment:
      # defaults (override in env file if you want)
      OUT_DIR: /app/captures
      PULSE_MONITOR_SOURCE: auto_null.monitor
      SPOTIFY_CONNECT_NAME: TrueNAS-Analyzer
      AUTO_UPLOAD: "1"
    volumes:
      # Change the left side to your TrueNAS dataset path
      - ./captures:/app/captures
    restart: "no"
